@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff !important;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #1d1d1f;
  font-family: -apple-system, "Nunito Sans", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.row {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 1rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.display {
  font-size: 2.5rem;
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 70px;
  height: 100%;
  width: 100%;
  background: #333;
  color: #fafafa;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.25);
  z-index: 1031;
  overflow: hidden;
}
header > h1 {
  margin: 0;
  padding: 0 1rem;
}
header .navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .navbar {
    flex-direction: column;
    justify-content: flex-start;
  }
}
header .navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fafafa;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  header .navbar .navbar-brand {
    width: 160px;
  }
}
@media screen and (min-width: 1024px) {
  header .navbar .navbar-brand {
    background: #222;
    width: 120px;
    height: 120px;
  }
}
header .navbar .navbar-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .navbar .navbar-nav {
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
  }
}
header .navbar .navbar-nav .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f7;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  header .navbar .navbar-nav .nav-link {
    height: 60px;
    width: 100%;
  }
}
header .navbar .navbar-nav .nav-link.active {
  color: #fff;
  background: #222;
  border-radius: 4px;
  font-weight: 400;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 1024px) {
  header .navbar .navbar-nav .nav-link.active {
    background: #555;
  }
}
header .navbar .navbar-nav .nav-link.active:after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 6px;
  height: 2px;
  width: 90%;
  background: #e7e4e4;
}
@media screen and (min-width: 1024px) {
  header .navbar .navbar-nav .nav-link.active:after {
    left: 10%;
    width: 80%;
    background: #333;
  }
}

.content {
  padding: 70px 0 16px;
  height: 200vh;
  background: #e7e4e4;
}
@media screen and (min-width: 1024px) {
  .content {
    padding: 0 16px 16px 136px;
  }
}

.todo-app {
  padding-top: 86px;
}

.input-field {
  padding: 0 !important;
}
.input-field > input {
  background: #f9f9fa !important;
}
.input-field label {
  left: 1rem;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e4e4;
  margin-bottom: 8px;
  padding: 16px 16px 8px;
  border-radius: 4px;
}
.todo-item.completed span {
  text-decoration: line-through;
}
.todo-item .todo-title {
  font-size: 1.25rem;
}
.todo-item .todo-title label > input[type=checkbox] {
  margin-right: 8px;
}
.todo-item .todo-title label span.todo-text {
  color: #333 !important;
  font-size: 1.125rem;
}
.todo-item .button {
  border: none;
  cursor: pointer;
  outline: none;
}
.todo-item .button > i.fa-trash {
  font-size: 1.25rem;
  color: red;
}

/*# sourceMappingURL=index.css.map */
